/* header settings */

.site-header {border-bottom: 0; position: fixed; top: 0; left: 0; width: 100vw; transition: .15s all ease-in-out;

    height: var(--header-height); z-index: 9;

    &::before {display: block; width: 100%; height: 8px; background: var(--colorLine); content: '';}
    .wrapper {display: flex; align-items: center; justify-content: center; position: relative; z-index: 9;}

    a {
        &:hover, &:focus {
            .logo-monogram {}
        }
    }



    &.header-bg {background: color-mix(in srgb, var(--colorBackground) 80%, transparent); 
        backdrop-filter: blur(4px);}

}



.logo-monogram {width: 48px; height: auto; transition: 1s all ease-in-out;

    @media (min-width: 1200px) {width: 64px;}

    &.reversed {filter: invert(1);}

    .content-page & {filter: invert(1);}
    .content-page .header-bg & {filter: invert(0);


        &.reversed {filter: invert(1);}
    }


}

.hamburger {
    position: absolute; width: 16px; height: 16px; left: 1rem;

    &::after {content: 'Menu'; opacity: 0; color: var(--colorContentPrimary); margin-top: 2px; padding-left: 36px; transition: .15s all ease-in-out; position: absolute; top: -4px; font-family: var(--fontOgg); text-transform: lowercase; font-style: italic; pointer-events: none; transform: translateX(-36px);} // end ::after

    .patty {display: block; border-radius: 256px; height: 2px; width: 24px; position: absolute; background: var(--colorContentPrimary); transition: .15s all ease-in-out;
    
        &.top {top: 4px; transform: translateY(0);}
        &.bottom {top: 12px; transform: translateY(0);}
    } // end default patty

    .content-page & {
        &::after {color: var(--colorLight);}
        .patty {background: var(--colorLight);}
    } // end content-page stylings

    .content-page .header-bg & {
        &::after {color: var(--colorContentPrimary);}
        .patty {background: var(--colorContentPrimary);}
    }

    &.hovered {
        cursor: pointer; pointer-events: all;
        &::after {opacity: 1;  transform: translateX(0px);}
        .patty {
            &.top {transform: translateY(-2px);}
            &.bottom {transform: translateY(2px);}
        }
    } // end hovered

    &.opened {
        &::after {content: 'Close'; color: var(--colorLight);}
        .patty {
            background: var(--colorLight);
            &.top {transform: translateY(4px) rotate(-45deg);}
            &.bottom {transform: translateY(-4px) rotate(45deg);}
        }

        .content-page .header-bg & {
            &::after {color: var(--colorLight);}
            .patty {background: var(--colorLight);}
        }

    } // end opened

    @media (min-width: 767px) {
        left: 2rem;
    }

} // end hamburger






