/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: 0px 0;
  flex: 1;

  @media (min-width: 1200px) {padding: 0px 0}
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}


.page-content {
  article {
    header {min-height: 300px; height: 35vh; position: relative; width: 100vw; margin-left: calc(var(--spacingUnit) * -1);
      h1 {position: absolute; top: 50%; left: 50%; margin-bottom: 0; transform: translateX(-50%) translateY(-50%);


        @media (min-width: 1200px) {}

        &.whenwhere {
          --halfHeaderHeight: calc((var(--header-height) / 2) * -1);

          transform: translateX(-50%) translateY(var(--halfHeaderHeight));

        }

      }

      img {position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1; opacity: .7;
      
        &.top-center {object-position: center top;}
        &.bottom-center {object-position: center bottom;}

      }

      @include media-query($on-laptop) {margin-left: calc((var(--spacingUnit) / 2) * -1);}

      &::before {content: ''; display: block; width: 100%; height: 100%; top: 0; left: 0; background: var(--colorDark); z-index: -1; position: absolute;}

    } // end header

    p {margin-bottom: 1rem; position: relative;

      a {
        text-decoration: underline; text-decoration-color: var(--colorContentPrimary); color: var(--colorContentPrimary); transition: .15s all ease-in-out;
        &[data-tooltip] {position: relative;}
        &:hover, &:focus {color: var(--colorGrape); text-decoration-color: var(--colorGrape);}

      }

      .tooltip {position: fixed;top: -2rem; left: -2rem; max-width: 320px; box-shadow: 4px 4px 16px rgba(64,64,64,.32); border-radius: 8px; font-size: 0.625rem; padding: 8px; background: var(--colorSage); color: var(--colorLight); z-index: 2;}

      @media (min-width: 767px) {
        margin-bottom: 2rem; line-height: 1.8;
      } // end 767 mq
      @media (min-width: 1600px) {
        line-height: 2; font-size: 1.25rem; max-width: 900px;
      }
    }

    .heading-wrapper {max-width: 900px; margin: 0 auto 2rem; text-align: center; 
      h2 {margin-left: -3vw; margin-bottom: 0; line-height: 1;}
      p {margin-right: -45vw; margin-top: 0; text-transform: uppercase; color: var(--colorContentSecondary); letter-spacing: 1px; font-size: 0.625rem;}

      @media (min-width: 767px) {
        margin-bottom: 4rem;

        p {margin-right: -3vw;}
      }

    }

    h2 {
      &.city {margin: 1rem auto; max-width: 746px; color: var(--colorContentSecondary);
      
        @media (min-width: 900px) {margin: 4rem auto 2rem;}

      }
    }

    .hotel {max-width: 740px; margin: 1rem auto 2rem;

      @media (min-width: 768px) {margin: 2rem auto 4rem;}
    
      p {margin-bottom: 1rem;}
      .address {display: block; margin-top: 8px;
       a {margin-left: 8px;}
      }

    }

    img {
      &.article-image {width: 100%; max-width: 1120px; margin: 0rem auto; max-height: 400px; object-fit: cover;}
    }


  } // end article


} // end .page-content





/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {

  margin: calc(var(--spacingUnit) / 2) auto $spacing-unit;

  max-width: 1168px;

  @media (min-width: 767px) {
    margin: calc(var(--spacingUnit) * 2) auto $spacing-unit;
  }


  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  p {max-width: 740px; margin: 0 auto;
  
    @media (min-width: 1599px) {
      font-size: 1.25rem; line-height: 2; max-width: 900px; margin-bottom: 2rem;
    }
  
  }


}


.home {
  padding-top: calc(48px + 2rem);

  @media (min-width:1200px) {padding-top: calc(72px + 2rem);}
}



.map {max-width: 300px; margin: 1rem auto; display: block;

  .road {fill: var(--colorContentPrimary);}
  .place {fill: var(--colorContentPrimary);
   &.valley-club {fill: var(--colorTerraCotta);}
  }

} // end map

.atlas {
  max-width: 500px; margin: 1rem auto; display: block;

  .state-line, .road {fill: var(--colorContentPrimary);}
  .interstate-number {fill: var(--colorBackground);}
  .city-name {fill: var(--colorContentPrimary);}
  .sun-valley {fill: var(--colorTerraCotta);}

  @media (min-width: 767px) {
    margin-top: 4rem;
  }

} // end atlas