html {font-size: 16px;}

body {font-family: var(--fontMain); font-weight: 500;}

body, div, p, ol, ul, h1, h2, h3, h4, h5, h6 {color: var(--colorContentPrimary);}

::selection {
    color: var(--colorGrey0);
    background-color: var(--colorTerraCotta);
}

::-moz-selection {
    color: var(--colorGrey0);
    background-color: var(--colorTerraCotta);
  }

strong, b {font-weight: 700;}
em, i {font-style: italic;}

h1 {
    font-family: var(--fontOgg); 
    line-height: 1;
    font-size: clamp(2rem, 11vw, 4rem);
    letter-spacing: -1px;

    @media (min-width: 767px) {letter-spacing: -3px;}

    .home & {margin-bottom: $spacing-unit * 2; 
        font-size: clamp(3rem, 11vw, 8rem);
    
        @include media-query($on-laptop) {
            margin-bottom: $spacing-unit;
        }
    }

    .cover & {color: var(--colorLight); text-transform: lowercase; font-style: italic;}

    &.whenwhere {text-indent: 25vw; font-size: clamp(2.6rem, 5vw, 6rem); line-height: 1; width: 100%;
        .smaller {font-size: 67%; text-indent: 10vw; display: inline-block;}

        @media (min-width: 767px) {
            text-indent: -2vw; width: max-content;
        }
    }



}

.gradient {  
    background: -webkit-linear-gradient(90deg, var(--colorSage), var(--colorTerraCotta));
    background: linear-gradient(90deg, var(--colorSage), var(--colorTerraCotta));
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; padding-top: 0.7rem; margin-top: -0.7rem; 
    padding-left: 1.2rem; margin-left: -1.2rem;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
    100% {
		background-position: 0% 50%;
	}
}

h2 {
    .page-content & { font-size: clamp(2.25rem, 7vw, 3.6rem); margin-top: 2rem; }
    
    font-family: var(--fontOgg); letter-spacing: -1px; text-transform: lowercase;
} // end h2


.disclaimer {color: var(--colorContentSecondary); font-size: 0.75rem; text-align: center; margin-top: 4rem;}