html {font-size: 16px;}

body {font-family: var(--fontMain); font-weight: 500;}

body, div, p, ol, ul, h1, h2, h3, h4, h5, h6 {color: var(--colorContentPrimary);}

a, a:visited {color: var(--colorGrape); transition: .15s all ease-in-out; text-underline-offset: 2px;

    &:hover, &:focus {color: var(--colorContentPrimary); text-decoration-color: var(--colorGrape); text-underline-offset: 4px;}
}

::selection {
    color: var(--colorGrey0);
    background-color: var(--colorGrape);
}

::-moz-selection {
    color: var(--colorGrey0);
    background-color: var(--colorGrape);
  }

strong, b {font-weight: 700;}
em, i {font-style: italic;}

h1 {
    font-family: var(--fontOgg); 
    line-height: 1;
    font-size: clamp(2rem, 11vw, 4rem);
    letter-spacing: -1px;

    @media (min-width: 767px) {letter-spacing: -3px;}

    .home & {margin-bottom: $spacing-unit * 2; 
        font-size: clamp(3rem, 11vw, 8rem);
    
        @include media-query($on-laptop) {
            margin-bottom: $spacing-unit;
        }
    }

    .cover & {color: var(--colorLight); text-transform: lowercase; font-style: italic;}

    &.whenwhere {text-indent: 25vw; font-size: clamp(2.6rem, 5vw, 6rem); line-height: 1; width: 100%;
        .smaller {font-size: 67%; text-indent: 10vw; display: inline-block;}

        @media (min-width: 767px) {
            text-indent: -2vw; width: max-content;
        }
    }



}

.gradient {  
    // background: -webkit-linear-gradient(90deg, var(--colorSage), var(--colorTerraCotta));
    // background: linear-gradient(90deg, var(--colorSage), var(--colorTerraCotta));
    background: -webkit-linear-gradient(270deg, rgba(143,158,156,1) 0%, rgba(143,119,140,1) 36%, rgba(213,181,168,1) 69%, rgba(143,158,156,1) 100%);
    background: linear-gradient(270deg, rgba(143,158,156,1) 0%, rgba(143,119,140,1) 36%, rgba(213,181,168,1) 69%, rgba(143,158,156,1) 100%);
    background-size: 400% 400%;
    animation: gradient 9s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; padding-top: 0.7rem; margin-top: -0.7rem; 
    padding-left: 1.2rem; margin-left: -1.2rem;

    &.city {padding-left: 0; display: block;}
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 50%;
	}
    100% {
		background-position: 0% 100%;
	}
}

h2 {
    .page-content & { font-size: clamp(2.25rem, 7vw, 3.6rem); margin-top: 2rem; }
    
    font-family: var(--fontOgg); letter-spacing: -1px; text-transform: lowercase;

    &.city {text-transform: none;}


} // end h2


h3 {

    font-family: var(--fontMain); font-weight: 800; font-size: 1.5rem; color: var(--colorContentPrimary);

    &.hotel-heading {border-top: 2px solid var(--colorLine); padding-top: 8px; width: 100%; max-width: 746px; margin-bottom: 0.5rem;}


}

.disclaimer {color: var(--colorContentSecondary); font-size: 0.75rem; text-align: center; margin-top: 4rem;}
.fine-print {color: var(--colorContentSecondary); font-size: 0.75rem; font-style: italic; line-height: 1.5; display: block; max-width: 640px; margin-top: 2rem;}

.role {color: var(--colorContentSecondary); font-size: 75%; display: inline-block;}
.disabled {color: var(--colorContentSecondary);}

.featured-text {padding: 1rem; border-radius: 8px; outline: 2px dotted var(--colorGrape); /* outline-offset: 0.5rem; background: var(--colorGrey100); */}