<div class="big-links">

    <ul>

        <li><a href="/our-story" data-section="our-story">
            <div class="big-links__linktext">Our Story</div>
            {% include linklist--ourstory.html %}
        </a>

        </li>
        <li><a href="/venue/">
            <div class="big-links__linktext">When &amp; Where</div>
            {% include linklist--venue.html %}
        </a></li>
        <li><a href="/lodging/">
            <div class="big-links__linktext">Lodging</div>
            {% include linklist--lodging.html %}
        </a></li>
        <li><a href="/travel/" data-name="travel">
            <div class="big-links__linktext">Travel</div>
            {% include linklist--travel.html %}
        </a></li>
        <li><a href="/wedding-party/">
            <div class="big-links__linktext">Wedding Party</div>
            {% include linklist--party.html %}
        </a></li>
        <li><a href="/rsvp/">
            <div class="big-links__linktext">RSVP</div>
            {% include linklist--default.html %}
        </a></li>
        <li><a href="/registry/">
            <div class="big-links__linktext">Registry</div>
            {% include linklist--default.html %}
        </a>
        </li>
        <li><a href="/things-to-do/">
            <div class="big-links__linktext">Weekend Events</div>
            {% include linklist--things.html %}
        </a></li>
        <li><a href="/gallery/">
            <div class="big-links__linktext">Gallery <span class="coming-soon">Coming Soon</span></div>
            {% include linklist--default.html %}
        </a></li>



    </ul>


</div>