<div class="big-links">

    <ul>

        <li><a href="/our-story" data-section="our-story">
            <div class="big-links__linktext">Our Story</div>
            {% include linklist--ourstory.html %}
        </a>

        </li>
        <li><a href="/venue/">
            <div class="big-links__linktext">When &amp; Where</div>
            {% include linklist--venue.html %}
        </a></li>
        <li><a href="/lodging/">
            <div class="big-links__linktext">Lodging</div>
            {% include linklist--lodging.html %}
        </a></li>
        <li><a href="/travel/" data-name="travel">
            <div class="big-links__linktext">Travel</div>
            {% include linklist--travel.html %}
        </a></li>
        <li><a href="/wedding-party/">
            <div class="big-links__linktext">Wedding Party</div>
        </a></li>
        <li><a class="disabled" {% comment %}href="/things-to-do/"{% endcomment %}>
            <div class="big-links__linktext">Things to do <span class="coming-soon">Coming Soon</span></div>
            {% comment %}{% include linklist--things.html %}{% endcomment %}
        </a></li>
        <li><a href="#" class="disabled">
            <div class="big-links__linktext">Music <span class="coming-soon">Coming Soon</span></div>
        </a></li>
        <li><a href="#" class="disabled">
            <div class="big-links__linktext">RSVP <span class="coming-soon">Coming Soon</span></div>
        </a></li>
        <li><a href="#" class="disabled">
            <div class="big-links__linktext">Registry<span class="coming-soon">Coming Soon</span></div>
        </a>
        </li>


    </ul>


</div>