<div class="date-marquee-wrapper">
    <hr />
    <div class="date-marquee">
        <div class="marquee-content">
            <span>June Eighth</span>
            <span>Twenty Twenty Four</span>
            <span>Sun Valley</span>
            <span>Idaho</span>
        </div>
        <div class="marquee-content" aria-hidden="true">
            <span>June Eighth</span>
            <span>Twenty Twenty Four</span>
            <span>Sun Valley</span>
            <span>Idaho</span>
        </div>
        <div class="marquee-content" aria-hidden="true">
            <span>June Eighth</span>
            <span>Twenty Twenty Four</span>
            <span>Sun Valley</span>
            <span>Idaho</span>
        </div>
    </div>
    <hr />
</div>
