<nav class="main-menu" id="main-menu">

    <ul>

        <li>
            <a href="/our-story">Our Story</a>
        </li>

        <li>
            <a href="/venue">When &amp; Where</a>
        </li>

        <li>
            <a href="/lodging/">Lodging</a>
        </li>

        <li>
            <a href="/travel/">Travel</a>
        </li>
        <li>
            <a href="/things-to-do/">Weekend Events</a>
        </li>
        <li>
            <a href="/wedding-party/">Wedding Party</a>
        </li>
        <li>
            <a href="/gallery/">Gallery</a>
        </li>

        <li class="">
            <a href="/rsvp/">RSVP</a>
        </li>

        <li class="">
            <a href="/registry/">Registry</a>
        </li>

    </ul>


</nav>