<nav class="main-menu" id="main-menu">

    <ul>

        <li>
            <a href="/our-story">Our Story</a>
        </li>

        <li>
            <a href="/venue">The Venue</a>
        </li>

        <li class="inactive">
            <a>Lodging</a>
        </li>

        <li class="inactive">
            <a>Things to do</a>
        </li>

        <li class="inactive">
            <a>Wedding Party</a>
        </li>

        <li class="inactive">
            <a>Music</a>
        </li>

        <li class="inactive">
            <a>RSVP</a>
        </li>

        <li class="inactive">
            <a>Registry</a>
        </li>


    </ul>


</nav>