---
layout: default
---
<article class="post">

  <header class="cover">
    <img src="{{ page.cover | relative_url }}" {% if page.cover_align %}class="{{ page.cover_align }}"{% endif %} />
    <h1 class="">{{ page.title | escape }}</h1>
  </header>


  <div class="post-content">

    {% for block in page.blocks %}
      {% if block.content %}
      {{ block.content | markdownify }}  
      {% endif %}
    {% endfor %}

    {{ content }}
  </div>

</article>

<script src="../assets/js/content-pages.js"></script>
